// Cores
$color-primary: #4F46E5;
$color-primary-hover: #4338CA;
$color-secondary: #111827;
$color-text: #4B5563;
$color-bg-main: #F9FAFB;
$color-bg-white: #FFFFFF;
$color-border: #D1D5DB;

// Tipografia
$font-main: 'Poppins', sans-serif;

// Espaçamentos Base
$spacing-base: 1rem;
$spacing-medium: $spacing-base * 1.5; // Exemplo de operador
$spacing-large: $spacing-base * 4;